:root {
  --text-color: #feffde;
  --backguround-color: #52734d;
  --accent-color: #ffe268;
}
body {
  margin: 0;
}
a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--backguround-color);
}
.navbar_logo {
  font-size: 24px;
  color: var(--accent-color);
  padding: 8px 12px;
}
.navbar_menu {
  display: flex;
  padding-left: 0px;
}
.navbar_menu li {
  list-style: none;
  padding: 8px 12px;
}
.navbar_menu li:hover {
  background-color: var(--accent-color);
  color: var(--backguround-color);
  border-radius: 4px;
}
.navbar_icons {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navbar_icons li {
  color: var(--text-color);
  padding: 8px 12px;
}
.navbar_togleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--accent-color);
  padding-top: 8px;
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-logo {
    font-size: 32px;
  }
  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar_menu li {
    width: 100%;
    text-align: center;
    padding: 8px;
  }
  .navbar_icons {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar_togleBtn {
    display: block;
  }
  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }
}
